/* =============== */
/* BASIC SETUP */
/* =============== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    overflow-y: scroll;
    scroll-behavior: smooth;


}
body {
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
 
}

ul li{
    list-style: none;
}

/* Heading Size */
h1{
    font-size: 4.2rem;
    color: #fff;
}

h2{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: .3rem;
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
    margin-bottom: 2rem;

}

h3{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 600;
}

h2::after{
    content: "";
    height: .4rem;
    margin: auto;
    display: block;
    width: 8.5rem;
    background: #ffffff5b;
    margin-top: 2rem;

}


.section-desc{
    color: #fff;
    font-size: 1.8rem;
    width: 60%;
    text-align: center;
    margin: auto;
    line-height: 2.6rem;

}
/* =============== */
/* Re-usable Component */
/* =============== */

.row{
    max-width: 114rem;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    visibility: hidden;
    clear: both;
    height: 0px;
}

section{
    padding: 10rem 0rem;
}

.btn:link,
.btn:visited,
.btn{
    background: #333;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: .3rem solid #000;
    display: inline-block;
    padding: 1.5rem 6rem;
    border-radius: .3rem;
    color: #fff;
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 4.5rem;
}
/* =====Header Section Start */
header{
   
    background: linear-gradient(#87509cea, #87509cea) ,url(./img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-attachment: fixed;
    height: 85vh;
    position: relative;
}

/* nav{
    display: block;
    clear: both;
    overflow: auto;
} */
.logo{
    height: 3.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;

}

.main-nav{
    float: right;
    margin-top: 4.0rem;
}

.main-nav li{
    display: inline-block;
    margin-left: 3.0rem;
    
}


.main-nav li:first-child{
   margin-left: 0px;
    
}
.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: .3rem 1.6rem;
    font-size: 1.6rem;
    transition: .3s;
    border-radius: .3rem;
    
}

.main-nav li:hover a:link,
.main-nav li:hover a:visited {
    color: #fff;
    text-decoration: none;
    background: #cd68ff;
    display: inline-block;
    padding: .3rem 1.6rem;
    border-radius: .3rem;
    
}

.main-nav li a:visited {
    background: #643a79;
    display: inline-block;
    padding: .3rem 1.6rem;

    
}

.active{
    border-radius: .3rem;
    background: #643a79;
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    
    

}
.hero-text-box h1{
    /* text-align: center; */
}
.hero-text-box .btn-hero{
    background: #eb7d4b;
    border-color: #c86a40;
}
/* =====Header Section End */


/* =====Services Section====== */
.service-section{
    background: linear-gradient(#17c2a3ec, #17c2a3ec) ,url(./img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;

    color: #ffffff;
    text-align: center;
}

.service-section .box{

}

.service-section .box img{
    height: 12rem;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    
}


.service-section .box h3{

}


.service-section .box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2rem;
    line-height: 2.5rem;
}

/* =====Services Section====== */

/* ==Team Section Start */
.team-section{
    background: #e7f1f8;
    color: #000;
    text-align: center;
}

.team-section h2::after{
    background: #00000043;
}
.team-section .section-desc{
    color: #000;
}

.team-section .box img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin-top: 4.5rem;
    margin-bottom: 3.5rem;
    color: #000;
}
.team-section .box .role{
    color: #00aeff;
    font-size: 1.6rem;
    display: inline-block;
    margin-top: 1rem;
    font-weight: 500;
}

.team-section .box p{
    font-size: 1.6rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 3rem;
}

.team-section .box ul li{
 display: inline-block;
 margin-left: 1rem;
 height: 4rem;
 width: 4rem;
 line-height: 4rem;
 text-align: center;
 background: #bdd1df;
 border-radius: 50%;
 font-size: 2rem;
}
/* ==Team Section End */


/* ====Skill Section Design */
.skill-section{
    color: #000;
}

.skill-section h2:after{
    background: #0000005b;
}

.skill-section .section-desc{
    color: #000;
}


.skills{
    text-align: center;
    margin-top: 3rem;
}

.skills .box{
    text-align: center;
    margin-top: 5rem;
}

.skills .box h3{
    margin-top: 3rem;
    font-weight: 700;
}

.skills .box .percent{
    display: inline-block;
    width: 18rem;
    height: 18rem;
}


.skills .box .web-design svg path:nth-of-type(2){
    stroke: #30bae7;
}


.skills .box .html-css svg path:nth-of-type(2){
    stroke: #d74680;
}

.skills .box .graphic-design svg path:nth-of-type(2){
    stroke: #15c7a8;
}


.skills .box .ui-ux svg path:nth-of-type(2){
    stroke: #eb7d4b;
}



/* =====Portfolio Design */

.portfolio-section{
    background: #ffdd99;
    text-align: center;
}

.portfolio-section h2::after{
    background-color: #e5c37f;
}
.portfolio-section .section-desc{
    color: #000;
}
.portfolio-section .row .box:nth-child(3){
    margin-left: 0px;
}


.portfolio-section .row .box{
    text-align: center;

}

.portfolio-filter{
    margin-top: 3rem;
}

.portfolio-filter button{
    padding: 1rem 2.7rem;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 1rem;
    border-radius: .4rem;
    text-transform: uppercase;
    min-width: 9.4rem;
    background: #ebc985;
}

.portfolio-filter button:hover{
    cursor: pointer;
    background-color: #Fff;
    transition: .3s;
}

.portfolio-filter button:first-child{
    margin-left: 0px;
}

.portfolio-section .row .box img{
   margin-top: 5rem;
   margin-bottom: 2.5rem;
   width: 100%;
   height: 30rem;
}

.portfolio-section .row .box h4{
    font-size: 2.2rem;
    font-weight: 500;

}

.portfolio-section .row  .load-project-btn{
    background: #17c2a4;
    border-color: #0a7662;
}


.portfolio-section .row  .mixitup-control-active{
    background: #fff;
}



/* Testmonial Section Start */
.testmonial-section{
    color: white;

    background: #d74680;
}
.testmonial-section .section-desc{

}

.testmonial-section .row .box{

}


.testmonial-section .row .box:nth-child(3){
    margin-left: 0px;
}


.client-img img{
    height: 9rem;
    border-radius: 50%;
    
}

.client-img {
    width: 10rem;
    float: left;
}

.reviews{
    text-align: center;
}

.reviews .box{
    text-align: left;
}

.reviews .col:nth-child(1), 
.reviews .col:nth-child(2){
    margin-top: 5rem;
}

.reviews .col:nth-child(3), 
.reviews .col:nth-child(4){
    margin-top: 10rem;
}

.client-review{
    float: left;
    padding-left: 3rem;
    max-width: 35rem;
}


.client-review p{
    font-size: 1.8rem;
    font-style: italic;
    line-height: 1.5em;

}

.client-review h3{
    margin-top: 2rem;
    
}
.client-review span{
    font-size: 1.6rem;
    margin-top: .5rem;
    color: #ecc900;
    
}


/* Testmonial Section End */


/* =Conatct Section Start */
.contact-section{
    background: #3c5499;
}

.contact-section h2{
    color: #fff;
}

.contact-section .section-desc{
    max-width: 80rem;
    width: 100%;
}

.contact-section form{
    max-width: 80rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.contact-section form .row{
    text-align: center;
}


.contact-section form input{
    width: 100%;
    padding: 1.5rem 1.5rem;
    font-size: 1.8rem;
    background: #273a71;
    outline: none;
    border-radius: 4px;
    color: #fff;
    border: none;
}

.contact-section form input::placeholder{
    color: #fff;
}
.contact-section form textarea{
    width: 100%;
    font-size: 1.8rem;
    border-radius: 4px;
    padding: 1rem;
    height: 18rem;
    margin-top: 2rem;
    outline: none;
    color: #fff;
    border: none;
    background: #273a71;
}

.contact-section form textarea::placeholder{
    color: #fff;
}

.contact-section form  .btn-submit{
    background: #30bae7;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: .3rem solid #299ec5;
    padding: 1.7rem 6rem;
    border-radius: .3rem;
    width: min-content;
    color: #fff;
    font-size: 1.6rem;
    margin-top: 4.5rem;
}


/* Contact section end */